.three-i {
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.four-i {
  width: auto;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.five-i {
  width: 100%;
  position: relative;
  flex-basis: auto;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 0;
  max-width: 100%;
}

.six-i {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  border: 0;
  display: flex;
  position: relative;
  font-size: 0.875rem;
  min-width: 0;
  word-wrap: break-word;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-top: 30px;
  transition: all 300ms linear;
  border-radius: 6px;
  margin-bottom: 30px;
  flex-direction: column;
  height: 1100px;
}

.seven-i {
  width: auto;
  padding: 20px 0;
  margin-top: -40px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  color: #fff;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
  margin-right: 15px;
  border-radius: 3px;
}

.eight-i {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 14px;
  margin: 0 0 10px;
}

.image {
  width: -webkit-fill-available;
  height: auto;
  margin-bottom: 1px;
  flex-shrink: 0;
  margin: 30px;
}

.nine-i {
  border: 0;
  display: flex;
  position: relative;
  font-size: 0.875rem;
  min-width: 0;
  word-wrap: break-word;
  background: #fff;
  margin-top: 30px;
  transition: all 300ms linear;
  flex-direction: column;
  width: auto;
  padding: 20px 0;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 15px;
  color: black;
  box-shadow: 0 12px 20px -10px rgba(96, 96, 96, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  border-radius: 3px;
}

.ten-i {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 15px;
}

.eleven-i {
  padding-left: 20px;
}

.twelve-i {
  text-transform: uppercase;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.25em;
  margin-bottom: 15px;
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
}

.io {
  display: flex;
  flex-flow: row-reverse;
  font-weight: 300;
  font-size: 0.83em;
  margin-inline-start: 0px;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
}

#info {
  color: rgb(148, 148, 148);
  margin-left: 10px;
}

.img{
  margin-left: auto;
  margin-right: auto;
}